/* $color-purple:#3e166b ; //rgb(62, 22, 107)
$color-pink:#d16bb5; //rgb(209, 107, 181)
$color-blue:#449bda; //rgb(68, 155, 218)
$color-purple-light:#6956bc; //rgb(105, 86, 188)
$color-red:#932265; //rgb(147, 34, 101)

 */

$color-purple:#471068;


$color-pink:#D54F91;
$color-blue-light:#35C0EE;
$color-blue:#303FD0;
$color-brown:#4B1723;


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	padding: 8px 5vw;
	height: 100vh;
	width: 100vw;
	color: $color-blue-light;
	background-color: $color-purple;
}

#Content{
	font-size: 32px
}