
$color-purple:#471068;
$color-purple-dark: #100022;

$color-yellow: #f5da81;

$color-brown:#4B1723;
$color-blue-light:#08F7FE;
$color-blue-uranian: #A2D9F8;
$color-blue-sapphire: #176892;
$color-blue:#303FD0;
$color-blue-dark:#131226;
$midnight: #6B236F;
$sky-magenta: #C37DB4;

$xs:4px;
$s:8px;
$m:16px;
$l:24px;
$xl:32px;

$dark:#000;
$light: #F6E8EA;

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Italic';
	src: url('../fonts/OpenSans-Italic.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@import 'icons';
@import 'base';
@import 'buzzer-list';
@import 'log';
@import 'normalize';


