
.result-container{
	display: flex;
	flex-direction: column;
}

.result-header{
	display: grid;
	grid-template-columns: 75% 25%;
	grid-gap: $s;
	grid-template-areas:
	'mode done'
	'answer empty';
}

.result-mode{
	grid-area: mode;
	button{
		margin-right: $m;
	}
}
.result-answer{
	grid-area: answer;
	button{
		margin-right: $m;
	}
}
.result-done{
	grid-area: done;
	text-align: right;
	button{
		margin-right: $m;
	}
}

.result-list{
	flex-grow: 1;
	overflow-y: auto;
}

.result-choice{
	padding-top: $m;
	display: grid;
	grid-gap: $s;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.result-team-name{
	font-size: 32px;
	padding: $s;

}
.result-team-answer{
	font-size: 32px;
	padding: $s;

}


.result-element{
	display: grid;
	grid-template-columns: 1fr 125px;
	margin-bottom: $m;
	border-radius: $xs;
	border: 2px solid $color-purple-dark;
	h1{
		padding-left: $s;
	}
}

.buzzer-element-win{
	border: 2px solid $color-green;
}

.buzzer-element-lost{
	border: 2px solid $color-red;
}

.result-btn-wrapper{
	padding: $m;
	font-size: 2em;
}

.result-footer{
	padding-bottom: $l;
	text-align: right;
}

